
.sidebar-blue {
    background-color: var(--bs-primary);
  }

  .sidebar-blue i {
    color: #000;
  }

  .sidebar-blue a,
  .sidebar-blue button,
  .sidebar-blue li,
  .sidebar-blue p,
  .sidebar-blue inertia-link
  {
    color: var(--bs-white);
    font-weight: bold;
  }

  .sidebar-blue a:hover,
  .sidebar-blue button:hover,
  .sidebar-blue li:hover,
  .sidebar-blue p:hover,
  .sidebar-blue inertia-link:hover
  {
    color: #fff;
    font-weight: bold;
  }

  .sidebar-blue .actived {
    background-color: var(--bs-cyan);
  }

  /* .sidebar-blue a,
  .sidebar-blue .nav-link {
    background-color: var(--bs-cyan);
  } */

  .sidebar-blue a:hover,
  .sidebar-blue button:hover,
  .sidebar-blue .nav-link:hover {
    background-color: var(--bs-cyan);
  }

  .sidebar {
    margin-top: 1000px;
  }

  .navbar__blue {
      background-color: var(--bs-gray);
  }

  .navbar__blue .nav-link {
      color: var(--bs-white);
  }

  button.btn-eye {
    /* border: 3px solid var(--bs-gray); */
    font-size:10px;
    padding: 3.5px;
    color: #fff;
    background-color: var(--bs-gray);
  }



  /*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root{
  /*===== Colores =====*/
  --first-color: #9D4BFF;
  --first-color-dark: #727174;
  --first-color-light: #dddddd;
  --first-color-lighten: #4851ec;

  /*===== Font and typography =====*/
  --body-font: 'Open Sans', sans-serif;
  --h1-font-size: 2rem;
  --normal-font-size: .938rem;
  --small-font-size: 1rem;
}

@media screen and (min-width: 768px){
  :root{
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== LOGIN =====*/
.login{
  display: grid;
  grid-template-columns: 100%;
  height: 100vh;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.login__content{
  display: grid;
}

.login__img{
  justify-self: center;
  position: relative;
}

.login__img .bg-img{
  width: 100%;
  margin-top: 1.5rem;
  border-radius: 10px;
}

.login__img .top-img{
  width: 25%;
  margin-top: 1.5rem;
  position: absolute;
  top: 8%;
  left: 37%;
  background-color: #fff;
  border-radius: 10px;
}

.lg__text {
  margin-top: 1.5rem;
  position: absolute;
  top: 37%;
  left: 20%;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
  text-align: center;
  width: 60%;
}

.login__forms{
  position: relative;
  height: 428px;
}

.login__registre, .login__create{
  position: absolute;
  bottom: 1rem;
  width: 100%;
  background-color: var(--first-color-lighten);
  padding: 2rem 1rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 8px 20px rgba(35,0,77,.2);
  animation-duration: .4s;
  animation-name: animate-login;
}

@keyframes animate-login{
  0%{
    transform: scale(1,1);
  }
  50%{
    transform: scale(1.1,1.1);
  }
  100%{
    transform: scale(1,1);
  }
}

.login__title{
  margin-bottom: 2rem;
  color: #fff;
  font-weight: bold;
}

.login__box{
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: .5rem;
  padding: 1rem 1rem;
  background-color: #FFF;
  margin-top: 1rem;
  border-radius: 1.7rem;
}

.login__icon{
  font-size: 1.7rem;
  color: var(--first-color);
}

.login__input{
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  font-weight: 700;
  color: var(--first-color-dark);
}

.login__input::placeholder{
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  color: var(--first-color-light);
}

.login__forgot{
  display: block;
  width: max-content;
  margin-left: auto;
  margin-top: 1rem;
  font-size: var(--small-font-size);
  font-weight: 600;
  color: var(--first-color-light);
  text-decoration: none;
}

.login__forgot:hover{
  color: #fff;
}

.login__button{
  width: 100%;
  padding: 0.1rem;
  margin: 1.2rem 0;
  background-color: var(--first-color-light);
  color: var(--first-color-lighten);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  border-radius: 1.7rem;
  box-shadow: 1px 1px 1px 1px #000;
  transition: .3s;
}

.login__button:hover{
  background-color: var(--first-color-dark);
  color: #fff;
}

.stay_logged {
  float: left;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: var(--first-color-light);
}

.login__account, .login__signin, .login__signup{
  font-weight: 600;
  font-size: var(--small-font-size);
}

.login__account{
  color: var(--first-color-dark);
}

.login__signin, .login__signup{
  color: var(--first-color);
  cursor: pointer;
}

.login__social{
  margin-top: 2rem;
}

.login__social-icon{
  font-size: 1.5rem;
  color: var(--first-color-dark);
  margin: 0 1.5rem;
}

/*Show login*/
.block{
  display: block;
}

/*Hidden login*/
.none{
  display: none;
}

/* ===== MEDIA QUERIES =====*/
@media screen and (min-width: 576px){
  .login__forms{
    width: 348px;
    justify-self: center;
  }
}

@media screen and (min-width: 1024px){
  .login{
    height: 100vh;
  }

  .login__content{
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
  }

  .login__img{
    display: flex;
    width: 760px;
    height: 588px;
    /* background-color: var(--first-color-lighten); */
    border-radius: 1rem;
    padding-left: 1rem;
  }

  .login__img .bg-img{
    width: 680px;
    margin-top: 0;
  }

  .login__registre, .login__create{
    left: -11rem;
  }

  .login__registre{
    bottom: -2rem;
  }

  .login__create{
    bottom: -5.5rem;
  }
}

.content .btn-style {
  letter-spacing:0.1em;
  background-color:#4851ec;
  border-radius:20px;
}

.content .btn-style:hover {
  background-color: var(--bs-cyan);
}

.multiselect__content-wrapper {
  position: relative;
}

.kbw-signature { width: 400px; height: 200px;}
#sig canvas{
    width: 100% !important;
    height: auto;
}

/* Styles for signature plugin v1.2.0. */
.kbw-signature {
    display: inline-block;
    border: 1px solid #a0a0a0;
    -ms-touch-action: none;
}
.kbw-signature-disabled {
    opacity: 0.35;
}

.dataTables_filter {
  float:right;
  margin-bottom: 1em;
}

.dataTables_filter:after {
    clear:both;
  }


.dt-buttons a .glyphicon {
  visibility: hidden;
}
.dt-buttons a:hover .glyphicon {
  visibility: visible;
}